@use "../../styles/partials/mixins" as *;

.login {
  padding: 2rem 1rem;
  min-height: 100vh;
  background: linear-gradient(to bottom, #05031d 55%, #c0aad3 100%);
  width: 100%;
  @include tablet {
    padding: 3rem 5rem;
  }
  @include desktop {
    padding: 2rem 9rem;
    max-width: 50rem;
    margin: 0 auto;
  }
  &__title {
    color: #fff;
    font-size: 3rem;
  }
  &__redirect {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    justify-content: space-around;
    gap: 0.5rem;
  }
  &__text {
    font-weight: 300;
  }
  &__link {
    color: #a88bc1;
    cursor: pointer;
  }
}

.form {
  &__label {
    margin-bottom: 0.5rem;
  }
  &__input {
    border: none;
    border-bottom: 1px solid #e1e1e1;
  }
}

.guest {
  margin-top: 0.5rem;
  font-size: 12px;
  color: #474545;
  &__title {
    margin: 0 0 0.5rem 0;
    text-decoration: underline;
  }
  &__text {
    margin: 0 0 0.25rem 0;
  }
}